.modal{
    background-color: rgba(0, 0, 0, 0.7);
}




.modal-dialog {
    display: flex;
    align-items: center;
    min-height: 100%;
}

.modal-content {
    /*margin: 0 auto;*/
}

.modal-body {
    padding: 30px;
}

.modal-header {
    background-color: #584595;
    color: #fff;
    border-bottom: none;
}

.modal-title {
    font-size: 1.5rem;
    font-weight: 500;
}

.login-modal .modal-body {

}

.input-field {
    color: #584595;
}

.login-button {
    background-color: transparent;
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 1px;
}

.login-button:hover {
    color: white;
    background-color: #584595;
}

.signup-button {
    background-color: transparent;
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 1px;
}

.signup-button:hover {
    color: white;
    background-color: #e75480;
}

.forgot-password {
    border: none;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 1px;
}

.forgot-password:hover {
    text-decoration: underline;
    text-decoration-color: #e75480;
}
