@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600;700&display=swap');


.timer-page {
    /*background-image: url('../../assets/simple.svg');*/
    background-repeat: space;
    background-size: auto;
    background-position: center;
}

.timer-text {
    letter-spacing: 1rem;
}

.timer-text-waiting {
    color: purple;
}

@media (min-width: 1500px) {
    .timer-text {
        font-size: 10rem !important;
        color: #e75480;
    }
}

@media (max-width: 768px) {
    .timer-text {
        color: blue;
        font-size: 5rem !important;
    }
}
