
#exam-form {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-image: url("../../assets/simple.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
