@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600;700&display=swap');



.timer-text {
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    font-size: 15rem;
}

.timer-text-waiting {
    font-size: 5.3rem;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
}


@media screen and (min-width: 1500px) {
    .timer-text {
        font-size: 20rem !important;
        /*color: #e75480   !important;*/
    }
    .timer-text-waiting {
        font-size: 8rem  !important;
        /*color: #e75480  !important;*/
    }
}


@media screen and (max-width: 768px) {
    .timer-text {
        /*color: blue !important;*/
        font-size: 10rem !important;
    }
}

@media screen and (max-width: 600px) {
    .timer-text {
        /*color: green !important;*/
        font-size: 7rem !important;
    }
}
