

#layout {
    /*display: flex;*/
    /*flex-direction: column;*/
       /*min-height: 100vh;*/
}

.navbar {
    background-color: #584595;
}


.navbar-brand {
    margin-left: 5px;
}

.navbar-nav {
    margin-left: auto;
}

.nav-link {
    color: #D4A137;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin-right: 1.5rem;
}

.nav-link:hover{
    color:#D4A137;
    border-bottom: 1px solid yellow;
    transition: all 0.1s ease-in-out;
}

.nav-link:active,
.nav-link:focus{
    color: yellow;
}

/*.my-icon {*/
/*    color: #D4A137;*/
/*    margin-left: 10px;*/
/*}*/


#account,
#account:hover,
#account:active{
    border-bottom: none;
    border-color: transparent;
}


.footer {
    background-color: #584595;
    color: #e75480;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 70px;
}

.footer p {
    font-size: 1.2rem;
    margin: 0;
}

.footer a {
    color: #e75480;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer-left {
    float: left;
}

.footer-right {
    float: right;
}

@media (max-width: 768px) {
    .footer {
        height: auto;
        padding: 30px 20px;
    }

    .footer-left,
    .footer-right {
        float: none;
        text-align: center;
    }

    .footer-right {
        margin-top: 20px;
    }
}
