
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
    margin:0;
    font-family: 'Lato', sans-serif;
    /*font-family: 'Poppins', sans-serif;*/

    /*background-color: #f7f7f7;*/
    /*background-color: red;*/
    /*background-image: linear-gradient(to bottom right, #fff, #f7f7f7, #fff); */
    /*background-image: linear-gradient(to bottom right, #f5f5f5, #e0e0e0, #d5d5d5);*/
    background-image: linear-gradient(to bottom right, #fff, #f5f5f5, #e0e0e0);
    width:100%;
    overflow-x: hidden;
}

body .MuiTypography-root{
    font-family: 'Lato', sans-serif;
/*    font-family: 'Poppins', sans-serif;*/
}



.breadcrumb{
    padding: 20px;
    margin-top: 40px;
    font-size: 2rem;
}

#search_input {
    border:none;
    text-align: center;
    width: 600px;
    min-width: 100px

}

#search_btn {
    border-radius: 20px;

}


#card-table{
    position: relative;
    padding: 50px;
}

a {
    color: #e75480;
    text-decoration: none;
}

.back-to-top {
    font-size: 30px;
    position: relative;
    display: flex;
    justify-content: right;
    align-content: center;
    letter-spacing: 1px;
    word-spacing: 1px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

