
body{
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f7;
    width: 100vw;
    overflow-x: hidden;
}


.breadcrumb{
    padding: 20px;
    margin-top: 40px;
    font-size: 2rem;
}

#search_input {
    border:none;
    text-align: center;
    width: 600px;
    min-width: 100px

}

#search_btn {
    border-radius: 20px;

}


#card-table{
    position: relative;
    padding: 50px;
}

a {
    color: #e75480;
    text-decoration: none;
}

.back-to-top {
    font-size: 30px;
    position: relative;
    display: flex;
    justify-content: right;
    align-content: center;
    letter-spacing: 1px;
    word-spacing: 1px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

