
body{
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f7;
}

#no-data{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 3rem;
    color: #e75480;
}

/*.navbar{*/
/*    padding-top: 0;*/
/*    background-color: #584595;*/
/*    border-color: #584595;*/
/*    border-bottom-style: solid;*/
/*}*/

/*.my-icon {*/
/*    color: #e75480;*/

/*}*/

/*.navbar-brand {*/
/*    color: #e75480;*/
/*    padding: 10px;*/
/*    font-size: 3rem;*/
/*    font-weight: bold;*/
/*    letter-spacing: 5px;*/
/*}*/

/*.navbar-nav {*/
/*    padding:0;*/
/*    margin:0;*/
/*}*/

/*.nav-link {*/
/*    color:#ffffff;*/
/*    font-size: 2rem;*/
/*}*/

/*.nav-link:hover {*/
/*    color: #e75480;*/
/*    background-color: transparent;*/
/*}*/

/*.navbar-brand:hover {*/
/*    color: yellow;*/
/*    background-color: transparent;*/
/*}*/

/*.card {*/
/*    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);*/
/*}*/

.breadcrumb{
    padding: 20px;
    margin-top: 40px;
    font-size: 2rem;
}

#search_input {
    border:none;
    text-align: center;
    width: 600px;
    min-width: 100px

}

#search_btn {
    border-radius: 20px;

}

/*.btn:hover{*/
/*    background-color: #e75480;*/
/*    color: #ffffff;*/
/*}*/


.sort-btn{
    min-width: auto;
    border-radius: 20%;
    margin-left: 5px;
    border: none;
    color: yellow;
}

.sort-btn:hover{
    /*color: #584595;*/
    /*background-color: transparent;*/
}

.underline:hover:before {
    border-bottom-color: #584595;
}

/* Style the table */
#table {
    font-size: 1.2rem;
    /*min-height: 100vh;*/

}
#table-container{
    /*border: 1px solid #584595;*/
    min-height: 100vh;
    position: relative;
    padding-bottom: 70px;
}

#card-table{
    position: relative;
    padding: 50px;
}


/*.table thead th {*/
/*    font-size: 25px;*/
/*    text-align: left;*/
/*    background-color: #e75480;*/
/*    color: #ffffff;*/
/*    padding: 30px;*/
/*}*/

/*.table thead td {*/
/*    text-align: left;*/

/*}*/

/*.table tbody td {*/
/*    text-align: left;*/
/*    font-size: 23px;*/
/*    padding: 20px;*/

/*}*/

/*.table tbody tr:hover {*/
/*    background-color: #F5F5F5;*/

/*}*/


#load-more{
    margin-top: 30px;
    border: none;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    position: relative;
}

/*.text-center{*/
/*    bottom: 0;*/
/*}*/


a {
    color: #e75480;
    text-decoration: none;

}

.back-to-top {
    font-size: 30px;
    position: relative;
    display: flex;
    justify-content: right;
    align-content: center;
    letter-spacing: 1px;
    word-spacing: 1px;
    cursor: pointer;
    /*margin:50px;*/
    border: none;
    background-color: transparent;
}

